/* Formulario de búsqueda y paginación */
.search-pagination-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    margin-top: 0px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;  /* Permite que los elementos se ajusten en varias líneas si es necesario */
    flex-shrink: 0;  /* Impide que el formulario se encoja */
}

/* Barra de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;  /* Hace que el contenedor de búsqueda ocupe todo el espacio disponible */
}

.search-input {
    flex: 1;  /* Ocupa el espacio restante disponible en la fila */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

/* Contenedor de paginación */
.pagination-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination-button {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: #e1e1e1;
}

/* Asegurarse de que los elementos del formulario no se estiren verticalmente */
.search-pagination-form > * {
    flex-shrink: 0;
}
