/* Estilo general para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.40);
  /* Fondo oscuro semitransparente */
  justify-content: center;
  align-items: center;
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: #f9f9f9;
  margin: auto;
  margin-top: 50px;
  padding: 60px;
  border-radius: 10px;
  border: 3px solid #b3b7bd;
  width: 80%;
  max-width: 1000px;
  max-height: 65%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto;
}

/* Título del modal */
.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Botón de cerrar (×) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  background-color: #dc3545;
  /* Rojo para destacar */
  border: none;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  /* Redondeado circular */
  cursor: pointer;
  width: 40px;
  /* Tamaño circular */
  height: 40px;
  /* Tamaño circular */
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #c82333;
  /* Rojo más oscuro en hover */
  color: white;
}

/* Contenido dentro del modal */
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-top: 20px;
  /* Espacio para separar el primer rectángulo del botón */
}

/* Estilo para cada "rectángulo" de producto */
.modal-item {
  background-color: white;
  padding: 15px;
  border: 1px solid #dee2e6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
  /* Espacio entre los rectángulos */
}

/* Hover para los "rectángulos" */
.modal-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Distribución en estilo tabla */
.modal-row {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.7fr;
  /* 3 columnas iguales */
  gap: 20px;
  /* Espaciado entre columnas */
  font-size: 20px;
  align-items: center;
}

/* Celdas del "tabla" */
.row-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}


.row-item span {
  color: var(--azul);
  font-weight: bolder;
}