/* Barra lateral */
.sidebar-productos {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #f9f9f9;
    color: #000000;
    padding: 0px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    max-height: 100vh;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.3);
}
