/* Cuadrícula de productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    align-items: stretch;
}

/* Estilo de cada producto */
.product-item {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}

.product-item.low-stock {
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.product-item.no-stock {
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.product-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

/* Nombre del producto */
.product-name {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 4px;
    flex-grow: 1;
    text-transform: uppercase;
    z-index: 3;
}

/* Precio */
.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
    z-index: 3;
}

/* Información secundaria */
.product-secondary {
    font-size: 18px;
    color: #666;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.stock {
    font-size: 18px;
    color: #666;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    z-index: 3;
}

.stock.low-stock {
    color: #856404;
}

.stock.no-stock {
    color: #dc3545;
}

.barcode {
    font-size: 16px;
    margin-bottom: 8px;
    color: #666;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
    z-index: 3;
}

.product-entradas {
    background-color: #007bff;
    /* Fondo azul */
    color: white;
    /* Texto blanco */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    /* Espacio encima */
}

.expiration-info {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    margin-top: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffe8cc; /* Naranja suave */
    color: #c05621; /* Texto marrón oscuro */
    border: 1px solid #ffc490; /* Naranja pálido */
}
/* Tarjetita con estado "Vencido" */
.expiration-info.expired {
    background-color: #f4cccc; /* Rojo pálido */
    color: #a61b1b; /* Rojo oscuro */
    border-color: #e0a6a6; /* Borde rojo claro */
}