body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    /* Evita scroll general */
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: var(--azul);
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* flex-shrink: 0; */
    /* Tamaño fijo */
}

.navbar h1 {
    margin: 0;
    font-size: 20px;
}

.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
    /* Limita el scroll dentro de los hijos */
}

aside {
    width: 210px;
    background-color: var(--oscuro);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    flex-shrink: 0;
    /* Tamaño fijo */
    overflow-y: auto;
    overflow-x: hidden;
    /* Habilita scroll en caso de contenido adicional */
}

aside h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 0px;
}

/* Logo */
.logo {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
}

aside .sidebar-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #384c63;
    color: white;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 8px;
    width: 88%;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

aside .sidebar-btn:hover {
    background-color: #688db8;
    /* Efecto hover */
}

aside .sidebar-btn p {
    flex-grow: 1;
    text-align: left;
    margin: 2px;
}

aside .sidebar-btn span {
    background-color: var(--azul);
    /* color: #007BFF; */
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: 900;
    display: inline-block;
}
/* Botones grandes */
aside .sidebar-btn-large {
    padding: 25px 15px;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}

aside .sidebar-btn-large.sales {
    color: black;
    background-color: var(--verde);
    /* Verde para ventas */
}

aside .sidebar-btn-large.sales:hover {
    background-color: var(--verde-oscuro);
    /* Efecto hover verde */
}

aside .sidebar-btn-large.entries {
    color: black;
    background-color: var(--azul);
    /* Azul para entradas */
}

aside .sidebar-btn-large.entries:hover {
    background-color: var(--azul-oscuro);
    /* Efecto hover azul */
}

.separator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2px;
    background-color: #384c63;
    margin: 20px 0;
}

/* Estilo del área de contenido principal */
.content {
    flex: 1;
    background-color: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
    /* Habilita scroll solo en el área de contenido */
}

.content p {
    margin: 0 0 20px;
    line-height: 1.6;
}

.icon {
  width: 28px;
  border-radius: 4px; /* Icono con esquinas redondeadas */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  flex-shrink: 0; /* Evita que se encoja el icono */
}

.icon img {
    width: 28px;
}

.icon-big img {
  width: 36px;
}

.icon-inv {
  filter: invert();
}
