@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

:root {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    --oscuro: #202C39;
    --verde: #76CD65;
    --verde-oscuro: #518d45;
    --azul: #1F8BFF;
    --azul-oscuro: #1560b1;
    --rosa: #ffcad4;
    --naranja: #f7af9d;
    --rojo: #E05263;
}